<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"/>
    <script type="text/javascript" src="js\jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col l6 m10 s10 offset-l3">
            <div class="card">
                <div class="card-content">
                    <p class="flow-text">Start journey , {{{body}}}</p>
                </div>
                <div class="card-action">
                    <a href="login">Login</a>
                    <a href="/signup">Signup</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>