<html>
    <head>
        <title>{{title}}</title>
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container white">
                <div class="container" style="margin: 16%;">
                            <form id="signup" method="post" action="/signup" class="row">
                                    <div class="col l6 m10 s10 offset-l3 ">
                                        <p class="flow-text col">{{{body}}}</p>
                                    </div>
                                <div class="card-panel hoverable blue-grey darken-2 white-text col l6 m10 s10 offset-l3">
                                    <div class="card-content white-text">
                                            <div class="input-field">
                                                    <input id="name" name="name" type="text"
                                                           placeholder="Enter username" required/>
                                            </div>
                                            <div class="input-field">
                                                <input id="email" name="email" type="email" placeholder="Enter email" required/>

                                            </div>
                                            <div class="input-field">
                                                    <input id="pass" name="pass" type="password"
                                                           placeholder="Enter password" required/>

                                            </div>
                                    </div>
                                    <div class="card-action">
                                            <div class="input-field center">
                                                    <input id="submit" class="btn" type="submit" value="signup"/>
                                            </div>
                                    </div>
                                </div>
                            </form>
                </div>
        </div>
    </body>
</html>