header, main, footer {
    padding-left: 300px;
}

.user-profile {
    display: block;
    background-color: #f2f2f2;
    font-size: 1.1rem;
    font-weight: bold;
}

.user-profile a {
    display: inline;
    margin-left: 1.1rem;
    text-align: center;
}

.sidenav li a {color: #FFFFFF;}

.bordered-red {border-left: 1.2rem solid #F44336;}

.bordered-blue {border-left: 1.2rem solid #2196F3;}

.bordered-orange {border-left: 1.2rem solid #ff9800 ;}

.tabs {overflow: hidden;}

#sidenav_items li:hover {animation-name: selectHover;animation-duration: 1s;animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

@keyframes selectHover{
    0% {border-top: 1px solid #1565C0}
    25% {border-right: 0px solid #1565C0}
    50% {border-bottom: 1px solid #1565C0}
    75% {border-left: 0px solid #1565C0}
    100% {border: none;}
}