<li class="collection-item avatar">
    <img src="img\user.png" class="circle">
    <span data-content="title" class="title"><strong>Tim Ohan</strong></span>
    <p>Jump Street 90/3A <br/>
        8:00 PM July,11
    </p>
    <a href="#!" class="secondary-content">
        <i class="fa fa-2x fa-ban red-text"></i>
        <i class="fa fa-2x fa-edit blue-text"></i>
    </a>
</li>